data/temp_dem_window.tif
output/converted/river_network.geojson
output/converted/watershed.geojson
output/converted/metadata.geojson
output/epsg3301/river_network.geojson
output/epsg3301/watershed.geojson
output/epsg3301/metadata.geojson
