#map {
  /*position:absolute;*/
  right: 0px;
  top:0px;
  width: 70%;
  height: 100vh;
  margin-right: 20px auto;
}

#button {
  background-color: rgb(0, 114, 206); 
  align-self: center;
  width: 31%;
  border: none;
  color: white;
  margin-left: 1%;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 10px;
  }

#button:hover {
  background-color: rgb(0, 75, 160); 
  }

body {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

#infTab {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 8px;
  width: 30%;
  height: 100vh;
  background-color: rgb(127, 204, 255);
}

#infTab > label{
  width: 80%;
  margin-left: 2%;
}

#infTab > input{
  width: 80%;
  margin-left: 1%;
  border:none;
  height:3%;
  border-radius: 5px;
}

#infTab > #otsi{
  width:30%;
  margin-left: 1%;
  background-color: rgb(0, 114, 206);
  color: white;
}

#infTab > #otsi:hover{
  background-color: rgb(0, 75, 160); 
}



label {
  font-weight:700;
}
