<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watershed Delineation Map</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.9.2/proj4.js"></script>
</head>
<body>
    <div id="infTab">
        <label for="latitude">Latitude</label>
        <input type="text" id="latitude" name="latitude"><br>
        <label for="longitude">Longitude</label>
        <input type="text" id="longitude" name="longitude"><br>
        <input type="submit" value="Otsi punkti" id="otsi"><br>
        <button id="button" onclick="findWatershed()">Piiritle</button>
    </div>
    <div id="map"></div>
</body>
<script src="../static/js/map.js"></script> <!-- Link to external JS file -->
</html>
